/* src/pages/Merchants.css */

.filters-container {
  display: flex;
  gap: var(--spacing-md);
}

.merchant-row {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.merchant-row:hover {
  background-color: var(--color-background-grey);
}

.status-badge {
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.85em;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
}

.status-validé {
  background-color: var(--color-success);
}

.status-rejeté {
  background-color: var(--color-danger);
}

.status-en_attente {
  background-color: var(--color-warning);
  color: var(--color-text-dark);
}

.status-validé_par_superviseur {
  background-color: var(--color-warning);
  color: var(--color-text-dark);
}

.text-danger {
    color: var(--color-danger);
}

