/* src/pages/Supervisors.css */

.table-responsive {
  overflow-x: auto;
}

.table .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.text-end {
    text-align: right;
}
